.pagination .active > .page-link {
  border: none;
  background: #00a3c4;
  color: #eeeeee;
}
.pagination .page-link {
  color: #00a3c4;
  background: #eeeeee;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .pagination .active > .page-link {
  border: none;
  background: #00a3c4;
  color: #eeeeee;
}
.dark .pagination .page-link {
  border: none;
  color: #eee;
  background: #1e293b;
}
